/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */


body{
	background: url(../images/tweed.png);
}

.container{
	background: #faf7f2;
}

.sixteen.columns{
	background: #d2153a;
}

.sixteen.columns[class="remove-bottom"]){
	background: #000;
}

.remove-bottom[style^="margin"]{
	margin-top: 2.0833%;
	background: #000;
	color: #fff;
	border-bottom: 5px solid #e5450b;
}

.remove-bottom{
	padding-left: 2.08033%;	
	font-variant: small-caps;
}

h5{
	font-variant: small-caps;
	padding-left: 2.0833%;
	background: #faf7f2;
	color: #d2153a;
}

img[alt^="basketball"]{
	max-width: 100%;
	margin-left: 1.0416%;
	border-bottom: 5px solid #e5450b;
}

img[alt^="girls"]{
	display: none;
}

img[alt^="nba"]{
	display: none;
}

.one-third.column h3{
	background: #d2153a;
	border-bottom: 5px solid black;
	font-variant: small-caps;
	text-align: center;
	color: #faf7f2;
}
footer{
	width: 98%;
	padding-left: 1.0416%;
	clear: both;
}

footer h5{
	text-align: center;	
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	img[alt^="basketball"]{
		display: none;
	}
	
	img[alt^="girls"]{
		display: block;
		width: 97.4%;
		margin-left: 1.3020%;
		border-bottom: 5px solid #e5450b;
	}

	
	.one-third.column[class$="column"]{
		float: left;
		width: 97.4%;
		padding-top: 1.3020%;
	}
}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	img[alt^="girls"]{
		margin-left: 0;	
		width: 100%;
	}	
	
	.one-third.column[class$="column"]{
		width: 100%%;
	}
	
	.one-third.column>p{
		padding: 3.3333%;
	}
	
	footer{
		width: 97.4%;
	}
}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	img[alt^="girls"]{
		display: none;
	}
	
	img[alt^="nba"]{
		display: block;
		width: 100%;
		border-bottom: 5px solid #e5450b;
	}
	
	.one-third.column>p, .one-third.column>ul{
		display: none;
	}
	
	.one-third.column[class$="column"]{
		padding: 0;
	}

	.one-third.column h3{
		margin-bottom: 0;
		text-align: left;
		padding-left: 3.3333%;
	}
	
	.one-third.column h3:hover{
		color: #666;
	}	
}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	img[alt^="girls"]{
		display: none;
	}
	
	img[alt^="nba"]{
		display: block;
		width: 100%;
		border-bottom: 5px solid #e5450b;
	}
	
	.one-third.column>p, .one-third.column>ul{
		display: none;
	}
	
	.one-third.column[class$="column"]{
		padding: 0;
	}

	.one-third.column h3{
		margin-bottom: 0;
		text-align: left;
		padding-left: 10px;
	}
	
	.one-third.column h3:hover{
		color: #666;
	}
	
	footer{
		width: 95%;
	}		
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/